.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 2rem;
}

.grid {
  display: inline-flex; 
  border: 2px solid #333;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vh;      
  height: 4vh;
  margin: 0.2rem;
  border: 1px solid #888;
  font-weight: bold;
  cursor: pointer;
  /* transition: transform 0.2s; */
}

.cell:hover {
  transform: scale(1.1);
  border-color: #555;
}

.selected {
  background-color: #87CEFA;
  color: #fff;
  border-color: #1E90FF;
}
